<header class="jumbotron">
<h1>BUSTLE CLONE</h1>
<h5>Bustle is for and by women who are moving backward as fast as you are.</h5>
</header>



<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="#">news?</a></li>
        <li><a href="#">entertainment</a></li>
        <li><a href="#">books</a></li>
        <li><a href="#">lifestyle</a></li>
        <li><a href="#">fashion&amp;beauty</a></li>
      </ul>
    </div>
  </nav>
    {{outlet}}
</div>

<hr>

<footer>
{{#link-to 'article'}}Articles{{/link-to}} || {{#link-to 'author'}}Authors{{/link-to}} || {{#link-to 'index'}}Home{{/link-to}}
</footer>
